<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>number</th>
            <th>name</th>
            <th>add</th>
        </tr>
    </thead>
    <tbody>
        {% for set in sets %}
        <tr>
            <td>
                <a href="{% url 'legosets:detail' set.id %}">{{ set.id }}</a>
            </td>
            <td>{{ set.number }}</td>
            <td>{{ set.name }}</td>
            <td>{{ set.add_datetime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>