{% extends "layout.html" %}

{% block content %}

<h1>Buy UK</h1>

{% if objs.table_body %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for item in objs.table_head %}
            <th>{{ item }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in objs.table_body %}
        <tr>
            <td>
                <img src = "{{ row[0] }}">
            </td>
            {% for item in row[1:] %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<em>啥也找不到啊。。。</em>
{% endif %}

{% endblock %}


