{% extends "layout.html" %}

{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
    <h3>{{ objs.title }}</h3>
    <ul class="nav nav-sidebar">
        <li class="active">
            <a href="#">折扣<span class="sr-only">(current)</span></a>
        </li>
        {% for dis in ['50', '70', '100', '120'] %}
        {% if objs.discount == dis %}
        <li class ="list-group-item-info">
        {% else%}
        <li>
        {% endif %}
        <a href="{{ objs.discount_url+dis }}">{{ dis }}%</a>
        </li>
        {% endfor %}

    </ul>

    <ul class="nav nav-sidebar">
        <li><a href="#">更新时间：{{ objs.update_date }}</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-striped">
        <thead>
            <tr>
                {% for item in objs.table_head %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% if objs.table_body %}
            {% for item in objs.table_body %}
            <tr>
                <td><img src ="{{ item.thumb_url }}"></img></td>
                <td>
                    <h4>{{ item.name }}</h4>
                    <a class="btn btn-info"
                        href="{{ url_for('sets_by_number',
                            set_number=item.set_number) }}"
                        role="button">{{ item.set_number }}</a>
                    <a class="btn btn-info"
                        href="{{ objs.theme_url }}{{ item.theme }}"
                        role="button">{{ item.theme }}</a>
                    {% if item.subtheme %}
                    <a class="btn btn-info"
                        href="{{ objs.subtheme_url }}{{ item.subtheme }}"
                        role="button">{{ item.subtheme }}</a>
                    {% endif %}
                    <a class="btn btn-info"
                        href="{{ objs.year_url }}{{ item.year }}"
                        role="button">{{ item.year }}</a>
                </td>
                <td>
                    {{ item.price }}
                    {% if item.price_rmb %}
                    <br>(￥{{ item.price_rmb }})
                    {% endif %}
                </td>
                <td>
                    {{ item.discount}}
                </td>
                <td>
                    {{ item.vendor}}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr><td>无符合条件商品</td></tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}


