{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h2>{{ objs.title }}</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                {% for item in objs.table_head %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in objs.table_body %}
            <tr>
                <td><img src ="{{ item.thumb_url }}"></img></td>
                <td>
                    <h4>{{ item.name }}</h4>
                    <a href="{{ url_for('sets_by_number',set_number=item.set_number) }}">
                        <span class="label label-info">{{ item.set_number }}</span>
                    </a>
                    <a href="?theme={{ item.theme }}">
                        <span class="label label-info">{{ item.theme }}</span>
                    </a>
                    <a href="?subtheme={{ item.subtheme }}">
                        <span class="label label-info">{{ item.subtheme }}</span>
                    </a>
                    <a href="?year={{ item.year }}">
                        <span class="label label-info">{{ item.year }}</span>
                    </a>
                </td>
                <td>
                    {{ item.price }}
                    {% if item.price_rmb %}
                    <br>(￥{{ item.price_rmb }})
                    {% endif %}
                </td>
                <td>
                    {{ item.discount}}
                </td>
                <td>
                    {{ item.vendor}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


