{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 sidebar">
            <table class="table table-striped">
            {% for item in objs.show_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.value }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-9 col-md-offset-3 main">
            <h1 class="page-header">图片</h1>
            {% if objs.img_url %}
            <img src="{{ objs.img_url }}" alt="正在载入">
            {% else %}
            <img src="{{ url_for('static', filename='blankbox.gif') }}"
                alt="暂无图片">
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
