{% extends "layout.html" %}
{% block content %}

        <h2 class="sub-header">搜索结果</h2>
          {% if sets %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>名称</th>
                </tr>
              </thead>
              <tbody>
                {% for set in sets %}
                <tr>
                  <td>
                    <a href = "/set/number/{{ set.number }}-{{ set.variant }}">
                    {{ set.number }}
                    </a>
                  </td>
                  <td>{{ set.name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
              <li><em>啥也找不到啊。。。</em></li>
          {% endif %}

{% endblock %}
