body {font-family:"Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif; word-break:break-all; word-wrap:break-word;}
a:link, a:visited {color:#333; outline:none; text-decoration:none;}
a:hover, a:active, a:focus {color:#b2b2b2; outline:none; text-decoration:none;}
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}
ul {margin:0 !important; padding:0 !important; overflow:hidden; list-style-type:none;}
ul li{list-style-type:none; display:inline; margin:0;}
#wrapper p {margin:7px 0 7px 0;}

#header {position:fixed; z-index:100; padding-top:18px;}
.auther {float:left; margin-top:15px;}
.auther img {max-width:470px;}
.auther h2{ max-height:1.5em; overflow:hidden; font-size:1.5em;}
.more { position:absolute; display:none; z-index:100; background-image:url(http://x.srcdd.com/farm1/df930b/e3f918fa/none.png);}
.more li { clear:both;}
#content h1 {font-size:20px; font-weight:600;}
#description { max-height:4.5em; overflow:hidden;text-overflow: ellipsis;-moz-text-overflow: ellipsis;}
.small-semi { font-weight:600;}
#navigation {display:inline-block; float:right; vertical-align:middle; margin-top:10px; text-align:right;}
#navigation li {text-align:left; max-height:32px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis;-moz-text-overflow: ellipsis;}
#navigation li a {line-height:32px;}
#header .timebar {padding-top:37px;}
#htime .span-12 {float:right !important; margin-right:0px !important;}
#content .tags {float:right !important; margin-right:0px !important;}
.timebar {vertical-align:middle; padding-top:3px;}
.tags ul{white-space:nowrap; vertical-align:middle; overflow:hidden;text-overflow: ellipsis;-moz-text-overflow: ellipsis; height:25px;}
.tags li{white-space:nowrap; word-break:normal; word-wrap:normal; overflow:hidden;text-overflow: ellipsis;-moz-text-overflow: ellipsis;}
.tags li a {line-height:32px;}
.tags li:last-child{ background:none;}
.tags li:first-child {padding-left:0px;}

.notes_count {margin-left:8px;}
h1 a {text-decoration:none !important;}
#content {padding-top:110px;}
#content img {max-width:950px; border:0;}
#content .content-left {float:left; margin:10px 0 20px 0;}
#content .content-right {float:right; margin:10px 0 20px 0;}
#content .content-left,#content .content-right {font-size:13px; height:100%;}
#content .content-left img,#content .content-right img {max-width:470px;}
#content blockquote {font-style:normal; margin:1em 0 1em 5px; padding-left:8px;}
#content .content-left blockquote img,#content .content-right blockquote img {max-width:434px;}
#content .content-left a,#content .content-right a,#content .post a {text-decoration:underline;}
.list {padding:10px 0;}
.post {padding:10px 0;}

.slides_container { display:none; width:950px; height:auto;}
.slides_container div.slide {width:950px;display:block; min-height:300px;}
.prev { margin-left:70px; margin-right:10px;}
.next {margin-left:10px;}
.pagination li {padding-right:10px; line-height:40px; padding-top:8px;}
.pagination li:first-child {margin-left:70px;}

.title {margin-bottom:25px !important; padding:10px 0;}
.totop {margin-right:25px;}
.social li {display:list-item; padding-left:5px;}
.page {font-weight:600;}
.page_prev { display:block; width:50px; float:left;}
.page_next { display:block; width:50px; float:right; text-align:right;}
#wrapper p.small-txt {margin:0;}
.hottags {margin-right:5px; display:list-item; list-style-type:none;}
.hottags:last-child {margin:0;}

#newest ul li,#hotest ul li { display:list-item; list-style-type:none;}
